<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>마이페이지</title>
</head>
<body>
<h1>마이페이지</h1>
<section>
  <span th:text="${username}"></span>님 반갑습니다!

  <p>
    당신은 <span th:text="${role}"></span>입니다!
  </p>

  <a th:if="${role == 'ROLE_ADMIN'}" th:href="@{/admin}">관리자 페이지로 이동</a>

  <form th:action="@{/auth/logout}" method="post">
    <button>로그아웃</button>
  </form>
</section>
</body>
</html>